

.svg-box {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 30px;

  &:hover {
    opacity: .8;
  }

  &__body {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 0;
  }
}

.svg, .color-pallet {
  position: absolute;
  width: 100%;
  height: 100%;
}

.svg {
  width: calc(100% / 2);
  height: calc(100% / 2);
  top: calc(50% / 2);
  left: calc(50% / 2);
}

.color-pallet {
  opacity: 0;
  top: 0;
  left: 0;
  cursor: pointer;
}


input[type='color'] {
  border: none;
  padding: 0;
  background: none;
}

// .color-pallet {
//   width: 100%;
//   height: 150px;
//   box-sizing: content-box;
//   opacity: 0;
//   z-index: 1;
// }